* {
  padding: 0;
  margin: 0;
  z-index: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Montserrat;
  color: #fff;
}

html,
body {
  background-color: #121921;
  user-select: none;
}

main {
  width: 100%;
  position: fixed;
  margin-bottom: 10%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#greeting {
  margin-left: 15%;
  margin-top: 11.831%;

}

.buttons-row {
  width: 80%;
  margin-top: 50px;
}

button {
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  border-radius: 12px;
  padding: 18px;
}

.join-button {
  margin-right: 10px;
  background: #00aeff;
  border: 2px solid #00aeff;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.join-button:hover {
  background: #00aeff10;
  color: #00aeff;
  text-decoration: underline;
  transition: 0.3s ease-out;
  cursor: pointer;

}

.about-button {
  background: rgba(255, 255, 255, 0.03);
  border: 2px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: 0.3s ease-out;
}

.about-button:hover {
  background: transparent;
  border: 2px solid white;
  transition: 0.3s ease-out;
  text-decoration: underline;
  cursor: pointer;
}

/* NAVBAR STYLES */
.navContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(21, 21, 21, 0.5);
}

.navContainer li {
  display: inline-flex;
}

.navContainer a {
  padding: 1.2rem 1.6em;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.navContainer a:hover {
  background-color: #ffffff20;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.navContainer ul {
  background-color: rgba(21, 21, 21, 0.5);
}

.navContainer nav {
  float: right;
}

.navContainer {
  width: 100%;
}

.logo {
  position: relative;
  /* top: 0.02em; */
  margin-left: 50px;
}

/* FONTS */
h1 {
  font-family: Montserrat;
  font-size: 60px
}

p {
  color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  font-size: 25px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  height: 150px;
    }
